/* Notes:
    *Left and right padding for the containter should be removed when in playlist view
    (and probably search view as well).
    *All a.button elements should have their borders removed and be given a back shade to
    act as click feedback instead.
    *For each playlist item, add a play buttom that appears over the album art on hover.
    *The volume control on the bottom bar will always be vertical due to the center buttons
    being set to grow to fill all blank space. That being said, run a test on the bottom
    bar's left side to have a max-width set to avoid possible overlap.
    *Add the two extra song skipping icons and have the inner skip buttons appear only when
    a Multi-song is playing.
    *Add dropdown to the tabs to have the Songs and Albums views sort collection by selected
    genre(s).
    *Possible signifiers for genre selection: either a piece of text next to the dropdown
    that counts the number of selected genres or a checkbox next to each selection.
    *For .message elements: They will be blocked by other elements for now but adding a
    z-index (at or greater than 1) will fix this. Each .message will have to have an
    incrementing z-index as it goes down the DOM.
    *No padding top when in artist view.
*/

body{
    padding-top: 93px !important; /* Nav bar height + bottom margin */
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #888;
}

nav{
    /*margin-bottom: 10px;*/
    flex-wrap: wrap;
}
.card{
    margin: 8px;
    height: fit-content;
   /* box-shadow: none;
    border: 1px solid #292929;
    Harder to distinguish due to white background. Change it to light grey later. */
}
@media screen and (max-width: 768px){
    .card{
        flex: 0 0 calc((100% / 2) - 16px);
    }
}
@media screen and (min-width: 769px) and (max-width: 1087px){
    .card{
        flex: 0 0 calc((100%/4) - 16px);
    }
}
@media screen and (min-width: 1083px) and (max-width: 1314px){
    .card{
        flex: 0 0 calc((100%/5) - 16px);
    }
}
@media screen and (min-width: 1315px) and (max-width: 1545px){
    .card{
        flex: 0 0 calc((100%/6) - 16px);
    }
}
@media screen and (min-width: 1546px) and (max-width: 1778px){
    .card{
        flex: 0 0 calc((100%/7) - 16px);
    }
}
@media screen and (min-width: 1779px){
    .card{
        flex: 0 0 calc((100%/8) - 16px);
    }
}

.card.artist{
    background: transparent;
    box-shadow: none;
}
.artist img{
    border-radius: 50%;
}
.artist .card-content{
    text-align: center;
}
.navbar-brand{
    flex-basis: 100%;
}
.tabs{
    flex-basis: 100%;
}
#container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: calc(100vh - (93px + 92px));/* top bar size + bottom bar size */
    align-content: flex-start;
    padding: 0px 30px 30px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
html{
    overflow-y: hidden !important;
}
nav.level{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 30;
    bottom: 0;
    background-color: white;
    border-top: 1px solid #dbdbdb;
}
/* Remove vertical overflow on html; have it scroll for the container instead. */

.media{
    align-items: center !important; /* Overwrite */
}
input[type=range]{
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: 1px solid #000;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    margin-top: -4px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus{
    outline: none;
}
input[type=range]::-ms-track{
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-webkit-slider-runnable-track{
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-radius: 1.3px;
}

#playing-btns{
    justify-content: center !important; /*overwrite*/
}
#time-start{
    margin-right: 0.5rem;
}

nav .level-right{
    padding-right: 0.5rem;
}
.navbar-start .button{
    border: none;
}
.navbar-start{
    display: flex;
    align-items: center;
}

table{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
.row{
    width: calc(100vw - 60px);/* Full width minus combined side padding of container */
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 350px;
    align-content: flex-start;
    border-top: 1px solid #ddd;
    overflow-x: scroll;
}

.row::after{
    content: "\00a0";
}

.playlist-title{
    margin-bottom: 10px;
}

.box .title{
    margin: 0;
}

.row .box{
    margin: 0.3rem 0.7rem;
    padding: 0.5rem 1rem;
    width: 217px;
}
.navbar-end{
    justify-content: flex-end;
    margin-left: auto;
}
.message{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    flex-basis: 100%;
}
.message-header{
    background: #fff;
    color: #000;
}
.message:first-child{
    border-bottom: 2px solid #ddd;
}

.media.playlist{
    flex-basis: 100%;
}

#album-info{
    height: fit-content;
    margin-top: 40px;
    margin-bottom: 60px;
}

#tester{
    position: relative;
    top: 14px;
}